<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 id="h1">hello anh em</h1>
    <form onsubmit="return false" id="form">
      <input type="text" placeholder="nhap status" id="status" />
      <input type="text" placeholder="nhap id equipment" id="idEquip" />
      <input type="text" placeholder="nhap led" id="led" />
      <input type="submit" name="" id="btnSubmit" values="submit" />
    </form>
    <p id="p"></p>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"
    defer
  ></script>
  <script src="js.js" type="module"></script>
</html>
